In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Mar Del Plata,-38.0023,-57.5575,71.10,98,100,1.01,AR,2022-01-22 05:34:18
1,1,Cherskiy,68.7500,161.3000,-49.58,100,96,5.12,RU,2022-01-22 05:34:18
2,2,Yellowknife,62.4560,-114.3525,-30.59,87,20,3.44,CA,2022-01-22 05:30:06
3,3,Carutapera,-1.1950,-46.0200,74.50,94,53,3.91,BR,2022-01-22 05:34:19
4,4,Hithadhoo,-0.6000,73.0833,81.77,72,100,12.46,MV,2022-01-22 05:34:19

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#To Do: Why are there no values
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Hithadhoo,-0.6000,73.0833,81.77,72,100,12.46,MV,2022-01-22 05:34:19
16,16,Vaini,-21.2000,-175.2000,80.56,73,54,18.12,TO,2022-01-22 05:34:23
24,24,Rikitea,-23.1203,-134.9692,78.64,75,43,12.26,PF,2022-01-22 05:34:25
26,26,Vaitape,-16.5167,-151.7500,81.75,75,100,15.52,PF,2022-01-22 05:34:25
27,27,Port Alfred,-33.5906,26.8910,77.81,69,4,22.62,ZA,2022-01-22 05:34:26
35,35,Gizo,-8.1030,156.8419,84.81,72,92,6.73,SB,2022-01-22 05:34:29
38,38,Souillac,-20.5167,57.5167,86.38,79,75,16.11,MU,2022-01-22 05:34:29
39,39,Gamba,-2.6500,10.0000,75.96,93,20,8.61,GA,2022-01-22 05:34:30
40,40,Progreso,21.2833,-89.6667,75.31,85,42,8.75,MX,2022-01-22 05:34:30
43,43,Cape Town,-33.9258,18.4232,80.11,68,0,4.61,ZA,2022-01-22 05:32:43

In [12]:
preferred_cities_df.count()

City_ID       152
City          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
Country       150
Date          152
dtype: int64

In [13]:
preferred_cities_df = preferred_cities_df.dropna()

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4     Hithadhoo      MV     81.77  -0.6000   73.0833
16        Vaini      TO     80.56 -21.2000 -175.2000
24      Rikitea      PF     78.64 -23.1203 -134.9692
26      Vaitape      PF     81.75 -16.5167 -151.7500
27  Port Alfred      ZA     77.81 -33.5906   26.8910
35         Gizo      SB     84.81  -8.1030  156.8419
38     Souillac      MU     86.38 -20.5167   57.5167
39        Gamba      GA     75.96  -2.6500   10.0000
40     Progreso      MX     75.31  21.2833  -89.6667
43    Cape Town      ZA     80.11 -33.9258   18.4232

In [15]:
# Set parameters to search for a hotel.
#params = {
    #"radius": 5000,
    #"type": "lodging",
    #"key": g_key
#}

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Hithadhoo,MV,81.77,-0.6000,73.0833,Scoop Guest House
16,Vaini,TO,80.56,-21.2000,-175.2000,Keleti Beach Resort
24,Rikitea,PF,78.64,-23.1203,-134.9692,People ThankYou
26,Vaitape,PF,81.75,-16.5167,-151.7500,Conrad Bora Bora Nui
27,Port Alfred,ZA,77.81,-33.5906,26.8910,The Halyards Hotel
35,Gizo,SB,84.81,-8.1030,156.8419,Imagination Island
38,Souillac,MU,86.38,-20.5167,57.5167,Shanti Maurice Resort & Spa
39,Gamba,GA,75.96,-2.6500,10.0000,
40,Progreso,MX,75.31,21.2833,-89.6667,Playa Linda Hotel
43,Cape Town,ZA,80.11,-33.9258,18.4232,Southern Sun Waterfront Cape Town

In [20]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))